---
page_title: "GitHub: github_actions_organization_secret_repository"
description: |-
  Adds/remove a repository to an organization secret when the visibility for repository access is set to selected.
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# github_actions_organization_secret_repository

This resource help you to allow/unallow a repository to use an existing GitHub Actions secrets within your GitHub organization. You must have write access to an organization secret to use this resource.

This resource is only applicable when `visibility` of the existing organization secret has been set to `selected`.

## Example Usage

{{tffile "examples/resources/actions_organization_secret_repository/example_1.tf"}}

## Argument Reference

The following arguments are supported:

* `secret_name` - (Required) Name of the existing secret
* `repository_id` - (Required) Repository id that can access the organization secret.

## Import

This resource can be imported using an ID made up of the secret name:

```
$ terraform import github_actions_organization_secret_repository.test_secret_repos test_secret_name:repo_id
```
