---
page_title: "GitHub: github_actions_organization_secret_repository"
description: |-
  Add access for a repository to an Actions Secret within a GitHub organization.
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# github_actions_organization_secret_repository

This resource adds permission for a repository to use an actions secret within your GitHub organization. You must have write access to an organization secret to use this resource.

This resource is only applicable when `visibility` of the existing organization secret has been set to `selected`.

## Example Usage

{{tffile "examples/resources/actions_organization_secret_repository/example_1.tf"}}

## Argument Reference

The following arguments are supported:

- `secret_name` - (Required) Name of the actions organization secret.
- `repository_id` - (Required) ID of the repository that should be able to access the secret.

## Import

This resource can be imported using an ID made of the secret name and repository name separated by a `:`.

### Import Block

The following import block imports the access of repository ID `123456` for the actions organization secret named `mysecret` to a `github_actions_organization_secret_repository` resource named `example`.

{{tffile "examples/resources/actions_organization_secret_repository/example_2.tf"}}

### Import Command

The following command imports the access of repository ID `123456` for the actions organization secret named `mysecret` to a `github_actions_organization_secret_repository` resource named `example`.

```shell
terraform import github_actions_organization_secret_repository.example mysecret:123456
```
