---
page_title: "GitHub: github_actions_organization_variable_repositories"
description: |-
  Manages repository allow list for an Actions Variable within a GitHub organization.
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# github_actions_organization_variable_repositories

This resource allows you to manage the repositories allowed to access an actions variable within your GitHub organization. You must have write access to an organization variable to use this resource.

This resource is only applicable when `visibility` of the existing organization variable has been set to `selected`.

## Example Usage

{{tffile "examples/resources/actions_organization_variable_repositories/example_1.tf"}}

## Argument Reference

The following arguments are supported:

- `variable_name` - (Required) Name of the actions organization variable.
- `selected_repository_ids` - (Required) List of IDs for the repositories that should be able to access the variable.

## Import

This resource can be imported using the variable name as the ID.

### Import Block

The following import block imports the repositories able to access the actions organization variable named `myvariable` to a `github_actions_organization_variable_repositories` resource named `example`.

{{tffile "examples/resources/actions_organization_variable_repositories/example_2.tf"}}

### Import Command

The following command imports the repositories able to access the actions organization variable named `myvariable` to a `github_actions_organization_variable_repositories` resource named `example`.

```shell
terraform import github_actions_organization_variable_repositories.example myvariable
```
