---
page_title: "GitHub: github_actions_organization_variable"
description: |-
  Creates and manages an Action variable within a GitHub organization
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# github_actions_organization_variable

This resource allows you to create and manage GitHub Actions variables within your GitHub organization. You must have write access to a repository to use this resource.

## Example Usage

{{tffile "examples/resources/actions_organization_variable/example_1.tf"}}

{{tffile "examples/resources/actions_organization_variable/example_2.tf"}}

## Argument Reference

The following arguments are supported:

- `variable_name` - (Required) Name of the variable
- `value` - (Required) Value of the variable
- `visibility` - (Required) Configures the access that repositories have to the organization variable. Must be one of `all`, `private`, `selected`. `selected_repository_ids` is required if set to `selected`.
- `selected_repository_ids` - (Optional) An array of repository ids that can access the organization variable.

## Attributes Reference

- `created_at` - Date of actions_variable creation.
- `updated_at` - Date of actions_variable update.

## Import

This resource can be imported using an ID made up of the variable name:

```sh
$ terraform import github_actions_organization_variable.test_variable test_variable_name
```
