---
page_title: "GitHub: github_actions_environment_variable"
description: |-
  Creates and manages an Action variable within a GitHub repository environment
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# github_actions_environment_variable

This resource allows you to create and manage GitHub Actions variables within your GitHub repository environments. You must have write access to a repository to use this resource.

## Example Usage

{{tffile "examples/resources/actions_environment_variable/example_1.tf"}}

{{tffile "examples/resources/actions_environment_variable/example_2.tf"}}

## Argument Reference

The following arguments are supported:

* `repository` - (Required) Name of the repository.
* `environment` - (Required) Name of the environment.
* `variable_name` - (Required) Name of the variable.
* `value` - (Required) Value of the variable

## Attributes Reference

* `created_at` - Date of actions_environment_secret creation.
* `updated_at` - Date of actions_environment_secret update.

## Import

This resource can be imported using an ID made up of the repository name, environment name, and variable name:

```sh
$ terraform import github_actions_environment_variable.test_variable myrepo:myenv:myvariable
```
