---
page_title: "GitHub: github_emu_group_mapping"
description: |-
  Manages mappings between external groups for enterprise managed users.
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# github_emu_group_mapping

This resource manages mappings between external groups for enterprise managed users and GitHub teams. It wraps the [Teams#ExternalGroups API](https://docs.github.com/en/rest/reference/teams#external-groups). Note that this is a distinct resource from `github_team_sync_group_mapping`. `github_emu_group_mapping` is special to the Enterprise Managed User (EMU) external group feature, whereas `github_team_sync_group_mapping` is specific to Identity Provider Groups.

## Example Usage

{{tffile "examples/resources/emu_group_mapping/example_1.tf"}}

## Argument Reference

The following arguments are supported:

- `team_slug` - (Required) Slug of the GitHub team
- `group_id` - (Required) Integer corresponding to the external group ID to be linked

## Import

GitHub EMU External Group Mappings can be imported using the external `group_id` and `team_slug` separated by a colon, e.g.

```sh
$ terraform import github_emu_group_mapping.example_emu_group_mapping 28836:emu-test-team
```
