---
page_title: "GitHub: github_enterprise_actions_runner_group"
description: |-
  Creates and manages an Actions Runner Group within a GitHub enterprise.
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# github_enterprise_actions_runner_group

This resource allows you to create and manage GitHub Actions runner groups within your GitHub enterprise. You must have admin access to an enterprise to use this resource.

## Example Usage

{{tffile "examples/resources/enterprise_actions_runner_group/example_1.tf"}}

## Argument Reference

The following arguments are supported:
* `enterprise_slug` - (Required) The slug of the enterprise.
* `name` - (Required) Name of the runner group
* `visibility` - (Required) Visibility of a runner group to enterprise organizations. Whether the runner group can include `all` or `selected`
* `selected_organization_ids` - (Optional) IDs of the organizations which should be added to the runner group
* `allows_public_repositories` - (Optional) Whether public repositories can be added to the runner group. Defaults to false.
* `restricted_to_workflows` - (Optional) If true, the runner group will be restricted to running only the workflows specified in the selected_workflows array. Defaults to false.
* `selected_workflows` - (Optional) List of workflows the runner group should be allowed to run. This setting will be ignored unless restricted_to_workflows is set to true.

## Attributes Reference

The following additional attributes are exported:

* `id` - The ID of the runner group
* `default` - Whether this is the default runner group
* `etag` - An etag representing the runner group object
* `runners_url` - The GitHub API URL for the runner group's runners
* `selected_organizations_url` - The GitHub API URL for the runner group's selected organizations

## Import

This resource can be imported using the enterprise slug and the ID of the runner group:

```
$ terraform import github_enterprise_actions_runner_group.test enterprise-slug/42
```
