---
page_title: "GitHub: github_organization_role Resource"
description: |-
  Manage a custom organization role.
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# github_organization_role (Resource)

Manage a custom organization role.

~> **Note**: Custom organization roles are currently only available in GitHub Enterprise Cloud.

## Example Usage

{{tffile "examples/resources/organization_role/example_1.tf"}}

## Schema

### Required

- `name` (String) The name of the organization role.
- `permissions` (Set of String, Min: 1) The permissions included in this role.

### Optional

- `description` (String) The description of the organization role.
- `base_role` (String) The system role from which this role inherits permissions.

### Read-Only

- `role_id` (Number) The ID of the organization role.

## Import

A custom organization role can be imported using its ID.

```shell
terraform import github_organization_role.example 1234
```
