---
page_title: "{{.Name}} ({{.Type}}) - {{.RenderedProviderName}}"
description: |-
  Creates a GitHub organization ruleset.
---

# {{.Name}} ({{.Type}})

Creates a GitHub organization ruleset.

This resource allows you to create and manage rulesets on the organization level. When applied, a new ruleset will be created. When destroyed, that ruleset will be removed.

{{ if .HasExamples -}}
## Example Usage

{{- range .ExampleFiles }}

{{ tffile . }}
{{- end }}
{{- end }}

~> **Note:** Rules are target-specific. `branch` and `tag` targets support rules such as `creation`, `deletion`, `pull_request` and `required_status_checks`. `push` targets only support `file_path_restriction`, `max_file_size`, `max_file_path_length` and `file_extension_restriction`. `repository` targets only support `repository_create`, `repository_delete`, `repository_name`, `repository_transfer` and `repository_visibility`. Using the wrong rules for a target results in a validation error.

~> **Note:** at the time of writing this, the `RepositoryRole` bypass actor type corresponds to the following base repository roles and IDs: `maintain` -> `2`, `write` -> `4`, `admin` -> `5`.

{{ .SchemaMarkdown | trimspace }}

## Import

GitHub Organization Rulesets can be imported using the GitHub ruleset ID e.g.

`$ terraform import github_organization_ruleset.example 12345`
