---
page_title: "{{.Name}} ({{.Type}}) - {{.RenderedProviderName}}"
description: |-
  {{ $arr := split .Description "\n"}}{{ index $arr 0 | plainmarkdown | trimspace }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/resources/organization_ruleset/example_1.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

GitHub Organization Rulesets can be imported using the GitHub ruleset ID e.g.

`$ terraform import github_organization_ruleset.example 12345`
