---
page_title: "GitHub: github_organization_role_team_assignment"
description: |-
  Manages the associations between teams and organization roles.
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# github_organization_role_team_assignment

~> **Note:** This resource is deprecated, please use the `github_organization_role_team` resource instead.

This resource manages relationships between teams and organization roles in your GitHub organization. This works on predefined roles, and custom roles, where the latter is an Enterprise feature.

Creating this resource assigns the role to a team.

The organization role and team must both belong to the same organization on GitHub.

## Example Usage

{{tffile "examples/resources/organization_role_team_assignment/example_1.tf"}}

## Argument Reference

The following arguments are supported:

- `team_slug` - (Required) The GitHub team slug
- `role_id` - (Required) The GitHub organization role id

## Import

GitHub Team Organization Role Assignment can be imported using an ID made up of `team_slug:role_id`

```sh
$ terraform import github_organization_role_team_assignment.role_assignment test-team:8132
```
