---
page_title: "{{.Name}} ({{.Type}}) - {{.RenderedProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

This resource allows you to create and manage rulesets on the organization level. When applied, a new ruleset will be created. When destroyed, that ruleset will be removed.

{{ if .HasExamples -}}
## Example Usage

{{- range .ExampleFiles }}

{{ tffile . }}
{{- end }}
{{- end }}

~> **Note:** Rules are target-specific. `branch` and `tag` targets support rules such as `creation`, `deletion`, `pull_request` and `required_status_checks`. `push` targets only support `file_path_restriction`, `max_file_size`, `max_file_path_length` and `file_extension_restriction`. `repository` targets only support `repository_create`, `repository_delete`, `repository_name`, `repository_transfer` and `repository_visibility`. Using the wrong rules for a target results in a validation error.

~> **Note:** at the time of writing this, the `RepositoryRole` bypass actor type corresponds to the following base repository roles and IDs: `maintain` -> `2`, `write` -> `4`, `admin` -> `5`.

{{ .SchemaMarkdown | trimspace }}
{{- if or .HasImport .HasImportIDConfig .HasImportIdentityConfig }}

## Import

GitHub organization rulesets can be imported using the GitHub ruleset ID.

Import is supported using the following syntax:
{{- end }}
{{- if .HasImportIdentityConfig }}

In Terraform v1.12.0 and later, the [`import` block](https://developer.hashicorp.com/terraform/language/import) can be used with the `identity` attribute, for example:

{{tffile .ImportIdentityConfigFile }}

{{ .IdentitySchemaMarkdown | trimspace }}
{{- end }}
{{- if .HasImportIDConfig }}

In Terraform v1.5.0 and later, the [`import` block](https://developer.hashicorp.com/terraform/language/import) can be used with the `id` attribute, for example:

{{tffile .ImportIDConfigFile }}
{{- end }}
{{- if .HasImport }}

The [`terraform import` command](https://developer.hashicorp.com/terraform/cli/commands/import) can be used, for example:

{{codefile "shell" .ImportFile }}
{{- end }}
