---
page_title: "{{.Name}} ({{.Type}}) - {{.RenderedProviderName}}"
description: |-
  Creates and manages project columns for GitHub projects
---

# {{.Name}} ({{.Type}})

!> **Warning:*- This resource no longer works as the [Projects (classic) REST API](https://docs.github.com/en/rest/projects/projects?apiVersion=2022-11-28) has been [removed](https://github.blog/changelog/2024-05-23-sunset-notice-projects-classic/) and as such has been deprecated. It will be removed in a future release.

This resource allows you to create and manage columns for GitHub projects.

## Example Usage

{{ tffile "examples/resources/project_column/example_1.tf" }}

## Argument Reference

The following arguments are supported:

- `project_id` - (Required) The ID of an existing project that the column will be created in.

- `name` - (Required) The name of the column.
