---
page_title: "{{.Name}} ({{.Type}}) - {{.RenderedProviderName}}"
description: |-
  Manages automated security fixes for a single repository
---

# {{.Name}} ({{.Type}})

This resource allows you to manage dependabot automated security fixes for a single repository. See the [documentation](https://docs.github.com/en/code-security/dependabot/dependabot-security-updates/about-dependabot-security-updates) for details of usage and how this will impact your repository

## Example Usage

{{ tffile "examples/resources/repository_dependabot_security_updates/example_1.tf" }}

## Argument Reference

The following arguments are supported:

- `repository` - (Required) The name of the GitHub repository.

- `enabled` - (Required) The state of the automated security fixes.

## Import

Automated security references can be imported using the `name` of the repository

### Import by name

```sh
terraform import github_repository_dependabot_security_updates.example my-repo
```
