---
page_title: "GitHub: github_repository_environment_deployment_policy"
description: |-
  Creates and manages environment deployment branch policies for GitHub repositories
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# github_repository_environment_deployment_policy

This resource allows you to create and manage environment deployment branch policies for a GitHub repository.

## Example Usage

Create a branch-based deployment policy:

{{tffile "examples/resources/repository_environment_deployment_policy/example_1.tf"}}

Create a tag-based deployment policy:

{{tffile "examples/resources/repository_environment_deployment_policy/example_2.tf"}}

## Argument Reference

The following arguments are supported:

- `environment` - (Required) The name of the environment.

- `repository` - (Required) The repository of the environment.

- `branch_pattern` - (Optional) The name pattern that branches must match in order to deploy to the environment. If not specified, `tag_pattern` must be specified.

- `tag_pattern` - (Optional) The name pattern that tags must match in order to deploy to the environment. If not specified, `branch_pattern` must be specified.

## Import

GitHub Repository Environment Deployment Policy can be imported using an ID made up of `name` of the repository combined with the `environment` name of the environment with the `Id` of the deployment policy, separated by a `:` character, e.g.

```sh
$ terraform import github_repository_environment.daily terraform:daily:123456
```
