---
page_title: "{{.Name}} ({{.Type}}) - {{.RenderedProviderName}}"
description: |-
  Links a team to a GitHub Projects V2 project.
---

# {{.Name}} ({{.Type}})

This resource links a team to a GitHub Projects V2 project.

## Example Usage

{{ tffile "examples/resources/team_project/example_1.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import uses the project and team GraphQL node IDs separated by a colon:

```shell
terraform import github_team_project.example PVT_example:T_example
```
