---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}
description: |-
  Get a GitHub Actions organization OpenID Connect customization template
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# {{.Name}} ({{.Type}})

Use this data source to retrieve the OpenID Connect subject claim customization template for an organization

## Example Usage

{{tffile "examples/data-sources/actions_organization_oidc_subject_claim_customization_template/example_1.tf"}}

## Argument Reference

## Attributes Reference

- `include_claim_keys` - The list of OpenID Connect claim keys.
