---
page_title: "GitHub: github_actions_organization_secrets"
description: |-
  Get actions secrets of the organization
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# github\_actions\_organization\_secrets

Use this data source to retrieve the list of secrets of the organization.

## Example Usage

{{tffile "examples/data-sources/actions_organization_secrets/example_1.tf"}}

## Argument Reference

## Attributes Reference

* `secrets` - list of secrets for the repository
  * `name` - Secret name
  * `visibility` - Secret visibility
  * `created_at` - Timestamp of the secret creation
  * `updated_at` - Timestamp of the secret last update
