---
page_title: "{{.Name}} ({{.Type}}) - {{.RenderedProviderName}}"
description: |-
  Get information about an app.
---

# github\_app

Use this data source to retrieve information about an app.

## Example Usage

{{ tffile "examples/data-sources/app/example_1.tf" }}

## Argument Reference

The following arguments are supported:

- `slug` - (Required) The URL-friendly name of your GitHub App.

## Attribute Reference

The following additional attributes are exported:

- `description` - The app's description.

- `name` - The app's full name.

- `node_id` - The Node ID of the app.
