---
page_title: "{{.Name}} ({{.Type}}) - {{.RenderedProviderName}}"
description: |-
  Generate a GitHub APP JWT.
---

# github\_app\_token

Use this data source to generate a [GitHub App JWT](https://docs.github.com/en/apps/creating-github-apps/authenticating-with-a-github-app/generating-a-json-web-token-jwt-for-a-github-app).

## Example Usage

{{ tffile "examples/data-sources/app_token/example_1.tf" }}

## Argument Reference

The following arguments are supported:

- `app_id` - (Required) This is the ID of the GitHub App.

- `installation_id` - (Required) This is the ID of the GitHub App installation.

- `pem_file` - (Required) This is the contents of the GitHub App private key PEM file.

## Attribute Reference

The following additional attributes are exported:

- `token` - The generated GitHub APP JWT.
