---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}
description: |-
  Get information about a repository branch protection rules.
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# {{.Name}} ({{.Type}})

Use this data source to retrieve a list of repository branch protection rules.

## Example Usage

{{tffile "examples/data-sources/branch_protection_rules/example_1.tf"}}

## Argument Reference

The following arguments are supported:

- `repository` - (Required) The GitHub repository name.

## Attribute Reference

- `rules` - Collection of Branch Protection Rules. Each of the results conforms to the following scheme:

    - `pattern` - Identifies the protection rule pattern.
