---
page_title: "GitHub: github_codespaces_user_secrets"
description: |-
  Get codespaces secrets of the user
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# github\_codespaces\_user\_secrets

Use this data source to retrieve the list of codespaces secrets of the user.

## Example Usage

{{tffile "examples/data-sources/codespaces_user_secrets/example_1.tf"}}

## Argument Reference

## Attributes Reference

* `secrets` - list of secrets for the repository
  * `name` - Secret name
  * `visibility` - Secret visibility
  * `created_at` - Timestamp of the secret creation
  * `updated_at` - Timestamp of the secret last update
