---
page_title: "GitHub: github_dependabot_organization_public_key"
description: |-
  Get information on a GitHub Dependabot Organization Public Key.
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# github_dependabot_organization_public_key

Use this data source to retrieve information about a GitHub Dependabot Organization public key. This data source is required to be used with other GitHub secrets interactions. Note that the provider `token` must have admin rights to an organization to retrieve it's Dependabot public key.

## Example Usage

{{tffile "examples/data-sources/dependabot_organization_public_key/example_1.tf"}}

## Attributes Reference

* `key_id` - ID of the key that has been retrieved.
* `key` - Actual key retrieved.
