---
page_title: "GitHub: github_dependabot_secrets"
description: |-
  Get dependabot secrets for a repository
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# github\_dependabot\_secrets

Use this data source to retrieve the list of dependabot secrets for a GitHub repository.

## Example Usage

{{tffile "examples/data-sources/dependabot_secrets/example_1.tf"}}

## Argument Reference

- `name` - (Optional) The name of the repository.
- `full_name` - (Optional) Full name of the repository (in `org/name` format).

## Attributes Reference

- `secrets` - list of dependabot secrets for the repository
    - `name` - Secret name
    - `created_at` - Timestamp of the secret creation
    - `updated_at` - Timestamp of the secret last update
