---
page_title: "{{.Name}} ({{.Type}}) - {{.RenderedProviderName}}"
description: |-
  Gets organizations assigned to a GitHub enterprise team.
---

# {{.Name}} ({{.Type}})

{{.Description}}

See the [GitHub REST API documentation](https://docs.github.com/en/rest/enterprise-teams) for required enterprise permissions and supported authentication.

## Example Usage

{{ tffile "examples/data-sources/enterprise_team_organizations/data-source.tf" }}

{{.SchemaMarkdown}}
