---
page_title: "Github: github_enterprise"
description: |-
  Get an enterprise.
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# github_enterprise

Use this data source to retrieve basic information about a GitHub enterprise.

## Example Usage

```
data "github_enterprise" "example" {
  slug = "example-co"
}
```

## Attributes Reference

* `id` - The ID of the enterprise.
* `database_id` - The database ID of the enterprise.
* `slug` - The URL slug identifying the enterprise.
* `name` - The name of the enterprise.
* `description` - The description of the enterprise.
* `created_at` - The time the enterprise was created.
* `url` - The url for the enterprise.
