---
page_title: "{{.Name}} ({{.Type}}) - {{.RenderedProviderName}}"
description: |-
  Retrieve external groups belonging to an organization.
---

# github\_external\_groups

Use this data source to retrieve external groups belonging to an organization.

## Example Usage

{{ tffile "examples/data-sources/external_groups/example_1.tf" }}

## Argument Reference

N/A. This resource will retrieve all the external groups belonging to an organization.

## Attributes Reference

- `external_groups` - an array of external groups belonging to the organization. Each group consists of the fields documented below.

---

- `group_id` - the ID of the group.
- `group_name` - the name of the group.
- `updated_at` - the date the group was last updated.
