---
page_title: "GitHub: github_organization_custom_properties"
description: |-
  Get information about a GitHub organization custom property
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# github_organization_custom_properties

Use this data source to retrieve information about a GitHub organization custom property.

## Example Usage

{{tffile "examples/data-sources/organization_custom_properties/example_1.tf"}}

## Argument Reference

The following arguments are supported:

* `property_name` - (Required) The name of the custom property to retrieve.

## Attributes Reference

* `property_name` - The name of the custom property.

* `value_type` - The type of the custom property. Can be one of `string`, `single_select`, `multi_select`, or `true_false`.

* `required` - Whether the custom property is required.

* `description` - The description of the custom property.

* `default_value` - The default value of the custom property.

* `allowed_values` - List of allowed values for the custom property. Only populated when `value_type` is `single_select` or `multi_select`.

* `values_editable_by` - Who can edit the values of the custom property. Can be one of `org_actors` or `org_and_repo_actors`.
