---
page_title: "GitHub: github_organization_external_identities"
description: |-
  Get a list of organization members and their SAML linked external identity NameID
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# github_organization_external_identities

Use this data source to retrieve each organization member's SAML or SCIM user attributes.

## Example Usage

{{tffile "examples/data-sources/organization_external_identities/example_1.tf"}}

## Attributes Reference

- `identities` - An Array of identities returned from GitHub

---

Each element in the `identities` block consists of:

- `login` - The username of the GitHub user
- `saml_identity` - An Object containing the user's SAML data. This object will be empty if the user is not managed by SAML.
- `scim_identity` - An Object contining the user's SCIM data. This object will be empty if the user is not managed by SCIM.

---

If a user is managed by SAML, the `saml_identity` object will contain:

- `name_id` - The member's SAML NameID
- `username` - The member's SAML Username
- `family_name` - The member's SAML Family Name
- `given_name` - The member's SAML Given Name

---

If a user is managed by SCIM, the `scim_identity` object will contain:

- `username` - The member's SCIM Username. (will be empty string if user is not managed by SCIM)
- `groups` - The member's SCIM Groups
- `family_name` - The member's SCIM Family Name
- `given_name` - The member's SCIM Given Name
