---
page_title: "{{.Name}} ({{.Type}}) - {{.RenderedProviderName}}"
description: |-
  Get the external identity provider (IdP) groups for an organization.
---

# {{.Name}} ({{.Type}})

Use this data source to retrieve the identity provider (IdP) groups for an organization.

{{- if .HasExamples }}

## Example Usage
{{ range .ExampleFiles }}
{{ tffile . }}
{{- end }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}
