---
page_title: "GitHub: repository_branches"
description: |-
  Get information on a GitHub repository's branches.
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# github_repository_branches

Use this data source to retrieve information about branches in a repository.

## Example Usage

{{tffile "examples/data-sources/repository_branches/example_1.tf"}}

## Argument Reference

* `repository` - (Required) Name of the repository to retrieve the branches from.

* `only_protected_branches` - (Optional). If true, the `branches` attributes will be populated only with protected branches. Default: `false`.

* `only_non_protected_branches` - (Optional). If true, the `branches` attributes will be populated only with non protected branches. Default: `false`.

## Attributes Reference

* `branches` - The list of this repository's branches. Each element of `branches` has the following attributes:
  * `name` - Name of the branch.
  * `protected` - Whether the branch is protected.
