---
page_title: "GitHub: github_repository_deployment_branch_policies"
description: |-
  Get the list of deployment branch policies for a given repo / env.
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# github_repository_deployment_branch_policies

~> **Note:** This data source is deprecated, please use the `github_repository_environment_deployment_policies` data source instead.

Use this data source to retrieve deployment branch policies for a repository / environment.

## Example Usage

{{tffile "examples/data-sources/repository_deployment_branch_policies/example_1.tf"}}

## Argument Reference

- `repository` - (Required) Name of the repository to retrieve the deployment branch policies from.

- `environment_name` - (Required) Name of the environment to retrieve the deployment branch policies  from.

## Attributes Reference

- `deployment_branch_policies` - The list of this repository / environment deployment policies. Each element of `deployment_branch_policies` has the following attributes:
    - `id` - Id of the policy.
    - `name` - The name pattern that branches must match in order to deploy to the environment.
