---
page_title: "github_repository_ruleset (Data Source) - GitHub"
description: |-
  Get information on a single GitHub repository ruleset.
---

# github_repository_ruleset (Data Source)

Use this data source to retrieve information about a specific GitHub repository ruleset.

## Example Usage

{{ tffile "examples/data-sources/github_repository_ruleset/data-source.tf" }}

{{ .SchemaMarkdown }}