---
page_title: "{{.Name}} ({{.Type}}) - {{.RenderedProviderName}}"
description: |-
  Get information on a GitHub Repository Milestone.
---

# {{.Name}} ({{.Type}})

Use this data source to retrieve information about a specific GitHub milestone in a repository.

## Example Usage

{{ tffile "examples/data-sources/repository_milestone/example_1.tf" }}

## Argument Reference

- `owner` - (Required) Owner of the repository.

- `repository` - (Required) Name of the repository to retrieve the milestone from.

- `number` - (Required) The number of the milestone.

## Attributes Reference

- `description` - Description of the milestone.
- `due_date` - The milestone due date (in ISO-8601 `yyyy-mm-dd` format).
- `state` - State of the milestone.
- `title` - Title of the milestone.
