---
page_title: "github_repository_rulesets (Data Source) - GitHub"
description: |-
  Get information on all GitHub repository rulesets for a repository.
---

# github_repository_rulesets (Data Source)

Use this data source to retrieve information about all GitHub repository rulesets for a given repository.

## Example Usage

{{ tffile "examples/data-sources/github_repository_rulesets/data-source.tf" }}

{{ .SchemaMarkdown }}