---
page_title: "{{.Name}} ({{.Type}}) - {{.RenderedProviderName}}"
description: |-
  Get information on a GitHub repository's environments.
---

# {{.Name}} ({{.Type}})

Use this data source to retrieve information about environments for a repository.

## Example Usage

{{ tffile "examples/data-sources/repository_environments/example_1.tf" }}

## Argument Reference

- `repository` - (Required) Name of the repository to retrieve the environments from.

## Attributes Reference

- `environments` - The list of this repository's environments. Each element of `environments` has the following attributes:
  - `name` - Environment name.
  - `node_id` - Environment node id.
