---
page_title: "{{.Name}} ({{.Type}}) - {{.RenderedProviderName}}"
description: |-
  Get all deploy keys of a repository
---

# {{.Name}} ({{.Type}})

Use this data source to retrieve all deploy keys of a repository.

## Example Usage

{{ tffile "examples/data-sources/repository_deploy_keys/example_1.tf" }}

## Argument Reference

- `repository` - (Required) Name of the repository to retrieve the branches from.

## Attributes Reference

- `keys` - The list of this repository's deploy keys. Each element of `keys` has the following attributes:
  - `id` - Key id
  - `title` - Key title
  - `key` - Key itself
  - `verified` - `true` if the key was verified.
