---
page_title: "GitHub: github_rest_api"
description: |-
  Get information on a GitHub resource with a custom GET request to GitHub REST API.
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# github_rest_api

Use this data source to retrieve information about a GitHub resource through REST API.

## Example Usage

{{tffile "examples/data-sources/rest_api/example_1.tf"}}

## Argument Reference

- `endpoint` - (Required) REST API endpoint to send the GET request to.

## Attributes Reference

- `id` - The GitHub API Request ID
- `code` - A response status code.
- `status` - A response status string.
- `headers` - A JSON string containing response headers.
- `body` - A JSON string containing response body.
