---
page_title: "{{.Name}} ({{.Type}}) - {{.RenderedProviderName}}"
description: |-
  Returns a single tree using the SHA1 value for that tree.
---

# {{.Name}} ({{.Type}})

Use this data source to retrieve information about a single tree.

## Example Usage

{{ tffile "examples/data-sources/tree/example_1.tf" }}

## Argument Reference

- `recursive` - (Optional) Setting this parameter to `true` returns the objects or subtrees referenced by the tree specified in `tree_sha`.
- `repository` - (Required) The name of the repository.
- `tree_sha` - (Required) The SHA1 value for the tree.

## Attributes Reference

- `entries` - Objects (of `path`, `mode`, `type`, `size`, and `sha`) specifying a tree structure.
