---
page_title: "{{.Name}} ({{.Type}}) - {{.RenderedProviderName}}"
description: |-
  Get information about multiple GitHub users.
---

# github\_users

Use this data source to retrieve information about multiple GitHub users at once.

## Example Usage

{{ tffile "examples/data-sources/users/example_1.tf" }}

## Argument Reference

- `usernames` - (Required) List of usernames.

## Attributes Reference

- `node_ids` - list of Node IDs of users that could be found.
- `logins` - list of logins of users that could be found.
- `emails` - list of the user's publicly visible profile email (will be empty string in case if user decided not to show it).
- `unknown_logins` - list of logins without matching user.
