<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li>
          <a href="/docs/providers/github/index.html">GitHub Provider</a>
        </li>

        <li>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li>
              <a href="/docs/providers/github/d/actions_environment_secrets.html">actions_environment_secrets</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/actions_environment_variables.html">actions_environment_variables</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/actions_organization_oidc_subject_claim_customization_template.html">actions_organization_oidc_subject_claim_customization_template</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/actions_organization_public_key.html">actions_organization_public_key</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/actions_organization_registration_token.html">actions_organization_registration_token</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/actions_organization_secrets.html">actions_organization_secrets</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/actions_organization_variables.html">actions_organization_variables</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/actions_public_key.html">github_actions_public_key</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/actions_registration_token.html">actions_registration_token</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/actions_repository_oidc_subject_claim_customization_template.html">actions_repository_oidc_subject_claim_customization_template</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/actions_secrets.html">actions_secrets</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/actions_variables.html">actions_variables</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/app.html">github_app</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/app_token.html"></a>
            </li>
            <li>
              <a href="/docs/providers/github/d/branch.html">github_branch</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/branch_protection_rules.html">github_branch_protection_rules</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/collaborators.html">github_collaborators</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/codespaces_organization_public_key.html">github_codespaces_organization_public_key</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/codespaces_organization_secrets.html">github_codespaces_organization_secrets</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/codespaces_organization_secret_repositories.html">github_codespaces_organization_secret_repositories</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/codespaces_public_key.html">github_codespaces_public_key</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/codespaces_secrets.html">github_codespaces_secrets</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/codespaces_user_public_key.html">github_codespaces_user_public_key</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/codespaces_user_secrets.html">github_codespaces_user_secrets</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/dependabot_organization_public_key.html">dependabot_organization_public_key</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/dependabot_organization_secrets.html">dependabot_organization_secrets</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/dependabot_secrets.html">dependabot_secrets</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/enterprise.html">github_enterprise</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/external_groups.html">github_external_groups</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/ip_ranges.html">github_ip_ranges</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/issue_labels.html">github_issue_labels</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/membership.html">github_membership</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/organization.html">github_organization</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/organization_custom_role.html">github_organization_custom_role</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/organization_external_identities.html">github_organization_external_identities</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/organization_ip_allow_list.html">github_organization_ip_allow_list</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/organization_team_sync_groups.html">github_organization_team_sync_groups</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/organization_teams.html">github_organization_teams</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/organization_webhooks.html">github_organization_webhooks</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/ref.html">github_ref</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/release.html">github_release</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/repositories.html">github_repositories</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/repository.html">github_repository</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/repository_autolink_references.html.markdown">github_repository_autolink_references</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/repository_branches.html">github_repository_branches</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/repository_deployment_branch_policies.html">github_repository_deployment_branch_policies</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/repository_deploy_keys.html">github_repository_deploy_keys</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/repository_environments.html.markdown">github_repository_environments</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/repository_file.html">github_repository_file</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/repository_milestone.html">github_repository_milestone</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/repository_teams.html">github_repository_teams</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/repository_webhooks.html">github_repository_webhooks</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/rest_api.html">github_rest_api</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/ssh_keys.html">github_ssh_keys</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/team.html">github_team</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/user.html">github_user</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/user_external_identity.html">github_user_external_identity</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/users.html">github_users</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/tree.html">github_tree</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li>
              <a href="/docs/providers/github/r/enterprise_actions_permissions.html">github_enterprise_actions_permissions</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/actions_organization_secret.html">github_actions_organization_secret</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/actions_organization_variable.html">github_actions_organization_variable</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/actions_organization_oidc_subject_claim_customization_template.html">github_actions_organization_oidc_subject_claim_customization_template</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/actions_organization_permissions.html">github_actions_organization_permissions</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/actions_organization_secret_repositories.html">github_actions_organization_secret_repositories</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/actions_repository_access_level.html">github_actions_repository_access_level</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/actions_repository_oidc_subject_claim_customization_template.html">github_actions_repository_oidc_subject_claim_customization_template</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/actions_repository_permissions.html">github_actions_repository_permissions</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/actions_runner_group.html">github_actions_runner_group</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/actions_secret.html">github_actions_secret</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/actions_variable.html">github_actions_variable</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/app_installation_repositories.html">github_app_installation_repositories</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/app_installation_repository.html">github_app_installation_repository</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/branch.html">github_branch</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/branch_protection.html">github_branch_protection</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/branch_protection_v3.html">github_branch_protection_v3</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/codespaces_organization_secret.html">github_codespaces_organization_secret</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/codespaces_secret.html">github_codespaces_secret</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/codespaces_user_secret.html">github_codespaces_user_secret</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/enterprise_actions_runner_group.html">github_enterprise_actions_runner_group</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/enterprise_organization.html">github_enterprise_organization</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/issue.html">github_issue</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/issue_label.html">github_issue_label</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/issue_labels.html">github_issue_labels</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/membership.html">github_membership</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/organization_block.html">github_organization_block</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/organization_custom_role.html">github_organization_custom_role</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/organization_ruleset.html">github_organization_ruleset</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/organization_security_manager.html">github_organization_security_manager</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/organization_settings.html">github_organization_settings</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/organization_webhook.html">github_organization_webhook</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/release.html">github_release</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/repository.html">github_repository</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/repository_autolink_reference.html">github_repository_autolink_reference</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/repository_dependabot_security_updates.html">github_repository_dependabot_security_updates</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/repository_collaborator.html">github_repository_collaborator</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/repository_collaborators.html">github_repository_collaborators</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/repository_deployment_branch_policy.html">github_repository_deployment_branch_policy</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/repository_deploy_key.html">github_repository_deploy_key</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/repository_environment.html">github_repository_environment</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/repository_environment_deployment_policy.html">github_repository_environment_deployment_policy</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/repository_environment_secret.html">github_repository_environment_secret</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/repository_environment_variable.html">github_repository_environment_variable</a>              
            </li>
            <li>
              <a href="/docs/providers/github/r/repository_file.html">github_repository_file</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/repository_milestone.html">github_repository_milestone</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/repository_ruleset.html">github_repository_ruleset</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/repository_tag_protection.html">github_repository_tag_protection</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/repository_topics.html">github_repository_topics</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/repository_webhook.html">github_repository_webhook</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/team.html">github_team</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/team_membership.html">github_team_membership</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/team_members.html">github_team_members</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/team_repository.html">github_team_repository</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/team_sync_group_mapping.html">github_team_sync_group_mapping</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/emu_group_mapping.html">github_emu_group_mapping</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/user_gpg_key.html">github_user_gpg_key</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/user_invitation_accepter.html">github_user_invitation_accepter</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/user_ssh_key.html">github_user_ssh_key</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
