<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li>
          <a href="/docs/providers/github/index.html">GitHub Provider</a>
        </li>

        <li>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li>
              <a href="/docs/providers/github/d/actions_public_key.html">github_actions_public_key</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/branch.html">github_branch</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/collaborators.html">github_collaborators</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/ip_ranges.html">github_ip_ranges</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/membership.html">github_membership</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/organization.html">github_organization</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/organization_team_sync_groups.html">github_organization_team_sync_groups</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/organization_teams.html">github_organization_teams</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/release.html">github_release</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/repositories.html">github_repositories</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/repository.html">github_repository</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/repository_milestone.html">github_repository_milestone</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/team.html">github_team</a>
            </li>
            <li>
              <a href="/docs/providers/github/d/user.html">github_user</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li>
              <a href="/docs/providers/github/r/actions_organization_secret.html">github_actions_organization_secret</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/actions_secret.html">github_actions_secret</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/app_installation_repository.html">github_app_installation_repository</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/branch.html">github_branch</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/branch_protection.html">github_branch_protection</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/branch_protection_v3.html">github_branch_protection_v3</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/issue_label.html">github_issue_label</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/membership.html">github_membership</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/organization_block.html">github_organization_block</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/organization_project.html">github_organization_project</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/organization_webhook.html">github_organization_webhook</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/project_card.html">github_project_card</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/project_column.html">github_project_column</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/repository.html">github_repository</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/repository_collaborator.html">github_repository_collaborator</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/repository_deploy_key.html">github_repository_deploy_key</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/repository_environment.html">github_repository_environment</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/repository_environment_secret.html">github_repository_environment_secret</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/repository_file.html">github_repository_file</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/repository_milestone.html">github_repository_milestone</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/repository_project.html">github_repository_project</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/repository_webhook.html">github_repository_webhook</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/team.html">github_team</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/team_membership.html">github_team_membership</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/team_repository.html">github_team_repository</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/team_sync_group_mapping.html">github_team_sync_group_mapping</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/user_gpg_key.html">github_user_gpg_key</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/user_invitation_accepter.html">github_user_invitation_accepter</a>
            </li>
            <li>
              <a href="/docs/providers/github/r/user_ssh_key.html">github_user_ssh_key</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
