name: Dotcom Acceptance Tests

on:
  push:
    branches:
      - test/**

jobs:

  acceptance-tests-anonymous:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          fetch-depth: 2
      - name: Acceptance Tests (Anonymous)
        uses: terraformtesting/acceptance-tests@v2.2.0
        with:
          TF_LOG: INFO

  acceptance-tests-individual:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          fetch-depth: 2
      - name: Acceptance Tests (Individual)
        uses: terraformtesting/acceptance-tests@v2.2.0
        with:
          TF_LOG: INFO
          GITHUB_OWNER: github-terraform-test-user
          GITHUB_TEST_USER_TOKEN: ${{ secrets.DOTCOM_TEST_USER_TOKEN }}
          GITHUB_TEST_ORGANIZATION: terraformtesting

  acceptance-tests-organization:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          fetch-depth: 2
      - name: Acceptance Tests (Organization)
        uses: terraformtesting/acceptance-tests@v2.2.0
        with:
          TF_LOG: INFO
          GITHUB_ORGANIZATION: terraformtesting
          GITHUB_TEST_USER_TOKEN: ${{ secrets.DOTCOM_TEST_USER_TOKEN }}
          GITHUB_TEST_OWNER: github-terraform-test-user
