# Terraform Provider release workflow.
name: Release

# This GitHub action creates a release when a tag that matches the pattern
# "v*" (e.g. v0.1.0) is created.
on:
  push:
    tags:
      - 'v*'

# Releases need permissions to read and write the repository contents.
# GitHub considers creating releases and uploading assets as writing contents.
permissions:
  contents: write

jobs:
  pre-release-tests:
    name: Run tests before release
    runs-on: ubuntu-latest
    env:
      test_stacks_directory: test_tf_stacks # root directory for test stacks
      pre_release_tests: provider_only # directory name for pre-release tests
    permissions:
      contents: read
      
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: go.mod
          cache: true

      - name: Build provider
        run: go build -o terraform-provider-github

      - name: Setup dev overrides
        run: |
          ROOT_DIR=$(pwd)
          cat > ~/.terraformrc << EOF
          provider_installation {
            dev_overrides {
              "integrations/github" = "${ROOT_DIR}"
            }
            direct {}
          }
          EOF

      - name: Verify dev overrides setup
        run: cat ~/.terraformrc

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: 1.x

      - name: Check Terraform version
        run: terraform version

      - name: Terraform init
        continue-on-error: true # continue even if init fails
        run: terraform -chdir=./${{ env.test_stacks_directory }}/${{ env.pre_release_tests }} init

      - name: Terraform validate
        run: terraform -chdir=./${{ env.test_stacks_directory }}/${{ env.pre_release_tests }} validate

      - name: Clean up
        run: rm -f ~/.terraformrc terraform-provider-github

  goreleaser:
    needs: [ pre-release-tests ] # runs only if pre-release tests pass
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          # Allow goreleaser to access older tag information.
          fetch-depth: 0

      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec # v6.3.0
        id: import_gpg
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.PASSPHRASE }}

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          args: release --clean
          version: '~> v2'
        env:
          # GitHub sets the GITHUB_TOKEN secret automatically.
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GPG_FINGERPRINT: ${{ steps.import_gpg.outputs.fingerprint }}
